
.card {
	margin: auto;
	margin-bottom: 30px;
	max-width: 500px;
	width: 100%;
	background: white;
	border-radius: 20px;
	box-shadow: 0 5px 40px rgba(0,0,0,0.2);
	overflow: hidden;
}
.header {
	background: #08b;
	padding: 40px 20px 30px;
	text-align: center;
	color: white;
}
.avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 3px solid white;
	margin: auto;
	overflow: hidden;
}
.avatar > img{
	width: 100%;
}
.card .name { font-size: 24px; font-weight: 600; margin-bottom: 5px; }
.card .content { padding: 30px; }
.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
	border-bottom: 1px solid #eee;
	overflow-x: clip; /* 最好能允许滚动，但会导致 overflow-y 变成 auto*/
	overflow-y: visible;
}
.item .field {
	min-width: 90px;
	font-weight: 600;
	display: flex;
	gap: 5px;
}
.item .field img{
	height: 20px;
}
.item .hidden {
	position: relative;
}
.item .hidden:hover::after {
	content: "也许你可以在源代码中找到一些线索";
	position: absolute;
	top: 100%;
	right: 0;
	background: #333;
	color: white;
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 4px;
	white-space: nowrap;
	margin-top: 4px;
	z-index: 10;
}
