*{
	box-sizing:border-box;
	--tcolor: #0096FA;
	--tcolorlight: #4cf;
	--tcolorlighter: #daf0ff;
	--shadowcolor: #adf;
	--pn-bgcolor: #f1f5fe;
	--pncolor: #0269b5;
	--pnborder: #cdf;
}
body{margin:0;display:flex;justify-content:space-between;}
button,label{user-select:none;}
.flex-bar{
	display:flex;
	justify-content:space-around;
	>*{flex:1;}
}
.window-title{
	font-size:18px;
	font-weight:bold;
}

#main{
	height:100vh;
	flex:1;
	overflow-y:scroll;
}
#tp{
	width:100%;
	border-collapse:collapse;
	thead,tfoot{
		position:sticky;
		background:white;
		box-shadow:0 0 5px rgba(0,0,0,0.2);
	}
	tr{height:50px;}
	thead{top:0;}
	tfoot{bottom:0;}
	tbody tr:hover{box-shadow:0 1px 6px var(--shadowcolor);}
	th{
		position:relative;
		border-right:1px solid white;
		padding:0 10px;
		cursor:pointer;
		user-select:none;
		.sortorder{
			position:absolute;
			right:5px;
			top:calc(50% - 4px);
			height:7px;
			width:14px;
			background:url('/icon/^white.svg');
			background-size:contain;
		}
	}
	td{text-align:center;}
	td img{height:30px;}
	a{
		text-decoration:none;color:#4be;
		&:hover{text-decoration:underline;}
	}
	.avt{
		width:42px;
		height:42px;
	}
}
#tp th,button{background:var(--tcolor);color:white;}

.avt{
	margin:auto;
	border-radius:50%;
	background-size:cover;
	background-position:top center;
}
.name{font-weight:bold;}
button{
	margin:4px;
	height:35px;
	padding:0 15px;
	border:none;
	border-radius:6px;
	&:active{transform:scale(0.9,0.9);}
}
button:hover,.nvb:hover{background-color:var(--tcolorlight);}
.nonh{color:green;}
.pause{color:grey;}
.deleted{text-decoration:line-through;}
.ed{background:var(--tcolorlighter);}

#pn{
	color:var(--pncolor);
	width:320px;
	height:100vh;
	overflow-y:auto;
	scrollbar-width:none;
}
@media (max-width:768px){
	#pn{display: none;}
}
#pn1,#pn2{
	position:relative;
	background:var(--pn-bgcolor);
	border:2px solid var(--pnborder);
	border-radius:8px;
	padding:10px;
}
#pn1{font-size:15px;}
#avt{
	height:100px;
	width:100px;
	border:2px solid var(--pnborder);
	margin:auto;
	margin-bottom:20px;
	margin-top:10px;
	&:hover::after{
		height: 100%;
		width: 100%;
		border-radius: 50%;
		background: rgba(255,255,255,0.7);
		content: "更换";
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
	}
}
.dti{
	height:30px;
	input{
		position:absolute;
		right:5px;
		height:25px;
		width:calc(100% - 60px);
		background:var(--pn-bgcolor);
		border:none;
		border-bottom:1px solid white;
		outline:none;
		font-size:15px;
		&:focus{border-bottom:1px solid var(--tcolor);}
	}
}
#score{
	display:flex;
	justify-content:space-between;
	>label{
		background:var(--pnborder);
		padding:10px;
		border-radius:10px;
		display:flex;
		flex-direction:column;
		align-items:center;
		>div{font-size:20px;}
	}
	input{
		width:50px;
		margin-top:5px;
		background:var(--pn-bgcolor);
		border:none;
		border-radius:10px;
		text-align:center;
		font-size:20px;
		font-weight:bold;
	}
}
sub{color:#888;}
.chk{
	margin:8px;
	background:var(--pnborder);
	padding:2px;
	border-radius:3px;
}
#link-ctn{
	display:flex;
	flex-wrap:wrap;
	>a{
		margin:0 5px;
		height:40px;
		width:40px;
		border-radius:50%;
		background:white url("/icon/link.svg") center/70% no-repeat;
		&.plink{background-image:url("/icon/pixiv.svg");}
		&.xlink{background-image:url("/icon/X.svg");}
		&:hover{border:2px solid var(--pnborder);}
	}
}
.link-delbtn{
	margin:0 0 0 5px;
	height:25px;
	width:25px;
	border-radius:50%;
}
#ps-ctn{
	position:relative;
	padding-top:10px;
}
#ps-label{
	position:absolute;
	top:0;
	left:16px;
	background:var(--pn-bgcolor);
	padding:3px 8px;
	border-radius:4px;
	font-size:13px;
}
#ps{
	display:block;
	width:95%;
	height:50px;
	border:none;
	outline:none;
	margin:5px 0;
	padding:5px;
	padding-top:8px;
	font-family: Arial;
	resize:vertical;
	&:focus{
		outline-style:solid;outline-color:var(--pnborder);
		+#ps-label{background:var(--pnborder);}
	}
}
#pn2{
	position:relative;
	height:190px;
	margin-top:2px;
	display:flex;
	justify-content:space-between;
}
#search{
	padding-right:10px;
	input{width:100%;}
}
#nv{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.nvb{
	display:block;
	height:50px;
	width:50px;
	border-radius:5px;
	background:var(--tcolor);
	background-image:url('/icon/arr.svg');
	background-size:cover;
}
#loc{background-image:url('/icon/location.svg');}

#set{
	--bgc:#fff;
	position:fixed;
	top:50px;
	right:100%;
	height:200px;
	width:240px;
	background:var(--bgc);
	box-shadow:1px 1px 4px rgb(0,0,0,0.2);
	padding:20px;
	border-radius:0 10px 10px 0;
	transition:0.2s;
	user-select:none;
	&:hover{
		transform:translateX(100%);
		#setlb{opacity:1;}
	}
	div{height:40px;}
}
#setlb{
	position:absolute;
	left:100%;
	height:50px!important;
	width:50px;
	border-radius:0 10px 10px 0;
	background:var(--bgc);
	box-shadow:1px 1px 4px rgb(0,0,0,0.2);
	background-image: url("/icon/setting.ico");
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center;
	opacity:0.5;
	&::after{
		content:'';
		position:absolute;
		right:100%;
		height:100%;
		width:4px;
		background:var(--bgc);
	}
}
#sjbt{width:80px;}

.flt{
	z-index:2;
	box-shadow:0 1px 5px rgb(0,0,0,0.2);
	border-radius:20px;
	background:rgb(255,255,255,0.9);
	padding:30px;
	position:fixed;
	top:-100px;
	left:50%;
	transform:translateX(-50%);
	animation-name:float;
	animation-duration:1.6s;
}
@keyframes float{
	0%{top:-100px;}
	30%{top:50px;}
	70%{top:50px;}
	100%{top:-100px;}
}